.btn {
    padding: 10px 20px;
    /* background-color: var(--blue-color); */
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s linear;
    border: 1px solid var(--blue-color);
}

.btn:hover {
    background-color: var(--blue-color);
}